main.main
    //- include ./slider/slider
    .container
        //- include ./forms/input
    include collection/collection
    include decor/decor
    include work-path/work-path
    include gallery/gallery 
    include blog-box/blog-box
    include popup/popup