.text-field 
    label.text-field__label(for="login") Login
    .text-field__icon
        input.text-field__input(
            type="search" 
            name="search" 
            id="search" 
            placeholder="Search"
        )
        span.text-field__aicon
            +svgIcon(16, 16, "search")