header.header
    .container
        .header__inner
            nav.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#") About
                    li.menu__item
                        a.menu__link(href="#") Gallery
            a.logo(href="#")
                img(src="../assets/img/home/logo.png", alt="Логотип")
            nav.menu
                ul.menu__list
                    li.menu__item
                        a.menu__link(href="#") Blog
                    li.menu__item
                        a.menu__link(href="#") Contact
            svg.header__btn(width=37 height=29) 
                use(xlink:href="../assets/img/icons/sprite.svg#icon-menu")




